header{
    background-color: #0FA4AF;
}
h1{
    color: rgb(14, 52, 86);
}
a[href^="https"]{
    background-color: #15c6d3;
    color: #0e3d40;
}
a[href$=".com"]{
    background-color: antiquewhite;
}
h2{
    color: #0FA4AF;
}
li :hover{
    background-color: yellow;
}
h2::first-line{
    font-size: 36px;
}
p::first-letter{
    font-size: 28px;
}
img[title]{
    border: 5px solid purple
}

.primary{
    font-family: Arial, Helvetica, sans-serif;
}
#myself{
    font-style: italic;
}
